<h3>Welcome to zeblet</h3>
<p><%= link_to 'Users', users_path %> </p>

<p><%= link_to 'Doctors', doctors_path %> </p>

<p><%= link_to 'User Sign In', new_user_session_path %> </p>

<p><%= link_to 'User Sign Up', new_user_registration_path %> </p>

<p><%= link_to 'Doctor Sign In', new_doctor_session_path %> </p>

<p><%= link_to 'Doctor Sign Up', new_doctor_registration_path %> </p>
