<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :doctor %>
    <%= f.association :user %>
    <%= f.input :timing , :as => :datetime_picker%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
