<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor:</strong>
  <%= @booking.doctor %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user %>
</p>

<p>
  <strong>Timing:</strong>
  <%= @booking.timing %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
